---
- name: create gitlab user
  user: name={{ gitlab_user }} comment="GitLab User" state=present

- name: add gitlab database
  mysql_db: name=gitlabhq_production state=present encoding=utf8 collation=utf8_unicode_ci
  
- name: add gitlab mysql user
  mysql_user: name={{ gitlab_db_user }} host={{ gitlab_db_host }} password={{ gitlab_db_password }} priv=gitlabhq_production.*:ALL state=present
  
- name: checkout gitlab
  git: repo={{ gitlab_repository }} dest={{ gitlab_path }} version={{ gitlab_version }}

- name: set permissions
  file: path={{ gitlab_path }} owner={{ gitlab_user }} group={{ gitlab_user }} recurse=yes

- name: copy gitlab conf
  template: src=gitlab.yml.j2 dest={{ gitlab_path }}/config/gitlab.yml owner={{ gitlab_user }}

- name: create folders
  file: path={{ item }} owner={{ gitlab_user }} state=directory mode=0755
  with_items:
    - "{{ gitlab_path }}/log/"
    - "{{ gitlab_path }}/tmp/"
    - "{{ gitlab_path }}/tmp/pids/"
    - "{{ gitlab_path }}/tmp/sockets/"
    - "{{ gitlab_path }}/public/uploads/"
    - "{{ gitlab_satellites_path }}"
    - "{{ gitlab_repositories_path }}"

- name: copy unicorn conf
  template: src=unicorn.rb.j2 dest={{ gitlab_path }}/config/unicorn.rb owner={{ gitlab_user }}

- name: copy rack attack conf
  template: src=rack_attack.rb.j2 dest={{ gitlab_path }}/config/initializers/rack_attack.rb owner={{ gitlab_user }}

- name: copy .gitconfig file
  template: src=gitconfig.j2 dest=/home/{{ gitlab_user }}/.gitconfig owner={{ gitlab_user }}

- name: copy database conf
  template: src=database.yml.j2 dest={{ gitlab_path }}/config/database.yml owner={{ gitlab_user }}

- name: bundle install gitlab gems
  command: bundle install --deployment --without development test postgres aws force=yes chdir={{ gitlab_path }}

- name: setup gitlab tables
  shell: bundle exec rake gitlab:setup RAILS_ENV=production force=yes chdir={{ gitlab_path }}

- name: copy init
  template: src=gitlab.j2 dest=/etc/init.d/gitlab mode=0755
  
- name: start gitlab on boot
  action: command {{ item }} chdir=/etc/init.d/
  with_items:
    - update-rc.d gitlab defaults 21
  notify: restart gitlab

- name: setup logrotate
  template: src=gitlab.logrotate.j2 dest=/etc/logrotate.d/gitlab

- name: bundle check install
  shell: bundle exec rake gitlab:env:info RAILS_ENV=production force=yes chdir={{ gitlab_path }}

- name: compile assets
  shell: bundle exec rake assets:precompile RAILS_ENV=production force=yes chdir={{ gitlab_path }}

- name: set permissions
  file: path={{ gitlab_path }} owner={{ gitlab_user }} group={{ gitlab_user }} recurse=yes
